<!DOCTYPE html>
<html lang="en" ng-app="statesGame">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="./style/main.css">
    <script src="./bower_components/d3/d3.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="./bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
</head>
<body>

    <div class="wrapper">
        <header class="header">
            <ul class="countries-list" id="countries-list">
                <li class="countries-item" id="australia">Australia</li>
                <li class="countries-item" id="brazil">Brazil</li>
                <li class="countries-item" id="canada">Canada</li>
                <li class="countries-item" id="usa">USA</li>
            </ul>
        </header>
        <main class="container">
            <ui-view></ui-view>
            <div class="map-contianer" id="svg-container"></div>
        </main>
    </div>

    <footer class="footer">
        <p class="task" id="task"></p>
    </footer>

<script src="./js/main.js"></script>
<script type="text/javascript" src="./js/index.module.js"></script>
<script type="text/javascript" src="./js/index.route.js"></script>
<script type="text/javascript" src="./js/home.controller.js"></script>
<script type="text/javascript" src="./js/game.controller.js"></script>
</body>
</html>