<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="./style/main.css">
    <script src="./bower_components/d3/d3.js"></script>
    <script src="https://d3js.org/topojson.v2.min.js"></script>
</head>
<body>

<div class="wrapper">
    <header class="header">
        <ul class="countries-list" id="countries-list">
            <li class="countries-item" id="australia">Australia</li>
            <li class="countries-item" id="brazil">Brazil</li>
            <li class="countries-item" id="canada">Canada</li>
            <li class="countries-item" id="usa">USA</li>
        </ul>
    </header>
    <main class="container">
        <div class="score-block">
            <p class="score-info">Errors: <span id="score"></span></p>
        </div>
        <div class="map-contianer" id="svg-container"></div>
    </main>
</div>

<footer class="footer">
    <p class="task" id="task"></p>
</footer>

<script src="./js/main.js"></script>
</body>
</html>