<div class="home-page-container">
    <p>Select country and click "Play" button to start.</p>

    <div class="form-inline">
        <select class="form-control country-select" ng-model="home.selected" id="country-select">
            <option value="">Select country</option>
            <option ng-repeat="country in home.countries">{{country}}</option>
        </select>

        <button type="button" class="btn btn-default btn-lg custom-btn">
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true" ng-click="home.startGame()" ng-class="{'ready': home.selected.length > 0}"></span>
        </button>
    </div>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter43333234 = new Ya.Metrika({
                        id:43333234,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/43333234" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</div>